/*
    - before form of checkout
 */

.tws__place_order_fixed{
    position: fixed;
    right: $pxrem*0;
    top: 50%;
    @include cross(transform, translateY(-50%));
    @include transition(0.3s);
    z-index: 100;

    @include tws__vertical_txt(180deg);
    font-size: large;
    font-weight: bold;
    padding: $pxrem*40 $pxrem*10;

    svg{
        display: inline;
        margin-right: $pxrem*11;
        margin-top: $pxrem*12;
    }
}

.woocommerce{

    // form login/coupon btn
    .woocommerce-form-login-toggle,
    .woocommerce-form-coupon-toggle{
        
        border-top: $pxrem*5 solid var(--color__darkgray);
        margin-top: $pxrem*50;
        padding: $pxrem*5 $pxrem*10 $pxrem*10 $pxrem*20;
        background: var(--color__lightgray);

        a{
            padding: $pxrem*8 $pxrem*14;
            display: inline-block;
            @include color_set_darklight;
            @include transition(0.3s);

            &:hover{
                @include color_set_optional;
            }
        }
    }

    // toggle login form
    .woocommerce-form-login,
    .woocommerce-form-coupon{
        margin-top: $pxrem*5;
        border-left: $pxrem*3 dotted var(--color__optional_light);

        p{
            padding: $pxrem*10 $pxrem*16;
        }
    }

}


/* 
    Checkout Form */
form#checkout{
    padding-top: $pxrem*50;


    // Required Notices at top when get checkout form error
    .woocommerce-NoticeGroup-checkout{

        background-color: var(--color__lightgray);
        margin: $pxrem*40 $pxrem*0;
        padding: $pxrem*20 $pxrem*10 $pxrem*20 $pxrem*30;
        border-top: $pxrem*6 solid var(--color__border_secondary);


        ul.woocommerce-error{
            li{
                color: var(--color__txt_gray);
                margin-bottom: $pxrem*15;
            }
        }
    }


    /* 
        #   All heading
    */
    .woocommerce-billing-fields h3,
    .woocommerce-shipping-fields h3,
    .woocommerce-account-fields p,
    #order_review_heading{
        @include heading;
        @include color_set_gray;
    }






    /* 
        # left side */
    .billing_shipping{

        padding-right: $pxrem*30;

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper{
            border: $pxrem*0.5 solid var(--color__border_gray);
            padding-top: $pxrem*30;
            padding-bottom: $pxrem*30;
            

            // all fields
            p.form-row{                    
                input{
                    width: 100%;
                }
            }

            // required fields star (*) sign
            p{
                abbr.required{
                    color: var(--color__optional_light);
                }
            }

            // aleart for required field
            p.woocommerce-invalid-required-field{
                label{
                    color: var(--color__optional_light);
                }

                input{
                    border: $pxrem*1 solid var(--color__border_secondary);
                }
            }

            // first | last - name
            p#billing_first_name_field,
            p#billing_last_name_field,
            p#shipping_first_name_field,
            p#shipping_last_name_field{
                float: left;
                width: 50%;
            }
        }

        // Create an account - account fields
        .woocommerce-account-fields{
            margin: $pxrem*40 $pxrem*0;
        } // .woocommerce-account-fields


        // notes | woocommerce additional fields
        .woocommerce-additional-fields{

            padding-top: $pxrem*50;

            .woocommerce-additional-fields__field-wrapper{
                p#order_comments_field{
                    label{
                        display: block;
                    }
                    textarea{
                        width: 50%;
                    }
                }
            }
        }
    }

    /* 
        # Right side */
    #order_review{
        padding: $pxrem*20 $pxrem*10;

        table.woocommerce-checkout-review-order-table{
            width: 100%;
            text-align: left;
            
            td,th{
                vertical-align: top;
                color: var(--color__txt_gray);

            }
            
            thead{
                background-color: var(--color__lightgray);
                
                tr{
                    th{
                        padding: $pxrem*10 $pxrem*10;
                    }
                    
                }
            }
            
            tbody{
                tr{
                    border-bottom: $pxrem*.5 solid var(--color__border_gray);

                    td,th{
                        padding: $pxrem*10 $pxrem*10;
                    }
                }
                tr:last-child{
                    td{
                        padding-bottom: $pxrem*30;
                    }
                }
            }

            tfoot{
                border: $pxrem*0.5 solid var(--color__border_gray);
                
                tr{
                    th,td{
                        padding: $pxrem*5 $pxrem*10;
                    }
                }

                tr.cart-subtotal{
                    td{
                        color: var(--color__primary);
                    }
                }

                tr.shipping{
                    td{
                        color: var(--color__optional);

                    }
                }

                // total
                tr.order-total{
                    border-top: $pxrem*.5 solid var(--color__border_gray);
                    background-color: var(--color__lightgray);
                    color: var(--color__txt_gray);

                    th,td{
                        font-size: $pxrem*18;
                    }
                    td{
                        span.woocommerce-Price-amount{
                            color: var(--color__primary);

                        }
                    }
                }
            }
        }


        // after calculing in checkout
        #payment{
            padding: $pxrem*20 $pxrem*10;
            .place-order{
                padding-top: $pxrem*20;
                color: var(--color__txt_gray);

                .woocommerce-terms-and-conditions-wrapper{
                    // privacy policy text
                    .woocommerce-privay--policy-text{
                        p{
                            color: var(--color__txt_gray);
                        }
                    }

                    // required fields for accepting conditions
                    p.validate-required{
                        padding: $pxrem*10 $pxrem*10;
                        font-weight: bold;
                        margin-top: $pxrem*20;
                        margin-bottom: $pxrem*20;
                        @include color_set_gray;

                        label{
                            a{
                                color: var(--color__optional);
                            }
                        }
                    }
                }


                // btn place order
                button{
                    display: block;
                    width: 80%;
                    margin: $pxrem*20 auto;
                    font-size: $pxrem*20;
                    font-weight: 600;
                    padding: $pxrem*10 $pxrem*0;

                    @include transition(0.3s);
                    @include color_set_primary;

                    &:hover{
                        @include color_set_secondary;
                    }

                } // btn place order
            }
        }
    } // #order_review
} // form#checkout
