// footer live chat
.tws__chat{
    background: var(--color__secondary);
}


// Push notification
#push_notify{
    background-color: var(--color__bg_optional);
    color: var(--color__txt_optional);
}
