/* 
 * 
 * Main
 * --------------------------------
*/
html{
    overflow-x: hidden;
}

body{
    font-size: $size__txt_body;
}


.tws__text_xxs{
    font-size: $text__xxs;;
}



/* 
 * 
 * Custom Scrollbar
 * --------------------------------
*/
::-webkit-scrollbar {
    width: $pxrem * 4;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color__lightgray); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color__secondary); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color__secondary); 
}



/* 
 * 
 * Default color set
 * --------------------------------
*/

// default padding at button
.tws__btn_padding{
    padding: $pxrem*8 $pxrem*12;
}

// primary button
.tws__color_set_primary{
    @include color_set_primary;
}

.tws__color_set_primary_hover{
    &:hover{
        @include color_set_secondary;
    }
}

// secondary button
.tws__color_set_secondary{
    @include color_set_secondary;
}

.tws__color_set_secondary_hover{
    &:hover{
        @include color_set_primary;
    }
}

// optional button
.tws__color_set_optional{
    @include color_set_optional;
}

.tws__color_set_optional_hover{
    &:hover{
        @include color_set_optional_light;
    }
}

// dark button
.tws__color_set_darklight{
    @include color_set_darklight;
}

.tws__color_set_darklight_hover{
    &:hover{
        background-color: var(--color__darklight_overlay);
    }
}

// gray button
.tws__color_set_gray{
    @include color_set_gray;
}

.tws__color_set_gray_hover{
    &:hover{
        background-color: var(--color__darklight_overlay);
        color: var(--color__light);
    }
}