html{
    overflow-x: hidden;
}

body{
    font-size: $size__txt_body;
}

// aside{
//     transition: .3s;
// }

// main{
//     transition: .5s;
// }

.tws__trans_hover_btn{

    // background-color: $color__bg_btn_secondary;
    // color: $color__txt_btn_primary;

    &:hover{
        background-color: $color__secondary !important;
        color: $color__txt_primary !important;
    }
}


.tws__text_xxs{
    font-size: $text__xxs;;
}


// Custom Scrollbar
::-webkit-scrollbar {
    width: $pxrem * 4;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color__bg_gray_border; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color__secondary; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color__bg_btn_secondary; 
}