// Header part start
header{
    height: 55px;
    overflow: hidden;
    background: $color__secondary;
    align-items: center;

    // All of svg in header same color
    svg{
        fill: $color__txt_secondary;
    }

    // Site branding or site
    .tws__site_branding{

        
        // Toggle Area
        button{
            border-color: $color__txt_secondary;
        }

        // Title of site
        h1.tws__site_title{
            
            a{
                padding-left: 0.35rem;
                color: $color__txt_primary;
                font-size: 1.2rem;
                font-weight: 800;
                text-transform: uppercase;
            }
        } 
    }

    // Search Box
    .tws__search_box{
        
        overflow: hidden;

        // Logo
        .tws__search_box_logo{
        
            transition: .5s;
            
            // Logo image style
            img{
                max-width: 3.9rem;
            }
        }

        // Search form
        input[type=search]{
            outline: none;
            padding-left: 5.5rem;
            transition: 0.5s;
        }

        // Placeholder of input search
        ::placeholder{
            color: $color__txt_secondary;
        }

        &:hover, &:focus, &:focus-within{
            
            .tws__search_box_logo{
                left: -5rem;
            }
            
            input[type=search]{
                padding-left: 1rem;
            }

        }
    }

    // Right side bar
    .tws__right_bar{
        justify-items: end;


        // Quick Menu
        ul#quick-menu{
            
            display: flex;

            li{
                border-right: .15rem solid $color__txt_primary;
                padding-right: 10px;
                padding-left: 10px;

                &:first-child{
                    padding-left: inherit;
                }

                &:last-child{
                    border-right: inherit;
                    padding-right: inherit;
                }

                a{
                    display: flex;
                    align-items: center;
                    font-size: .9rem;
                    color: $color__txt_primary;
                    

                    svg{
                        fill: $color__txt_primary;
                    }
                
                }
            }
        }

        // Right side Single Menu
        .tws__single_menu{
            background: $color__bg_optional;
            
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row-reverse;
                color: $color__txt_optional;

                svg{
                    fill: $color__txt_optional;
                }
            }
        }
    }
} // Header part end


