// .tws__mini_cart_float_action{
//     right: -($pxrem * 420) !important;
// }

.tws__mini_cart{

    $mini_cart_container: $pxrem * 320;
    width: $mini_cart_container;
    height: calc(100% - #{$pxrem * 55});

    padding-bottom: $pxrem*35;
    background-color: $color__bg_primary;


    // mini cart parent wrapper
    div.widget_shopping_cart{
        
        // mini cart wrapper
        div.widget_shopping_cart_content{
            
            // mini cart product content
            ul.product_list_widget{
            
                    // wrapper
                    div.tws__mini_cart_img_wrapper{
                        max-height: $pxrem * 50;
                        overflow: hidden;
        
                        a{
                            img{
                                width: auto;
                                height: $pxrem * 45;
                            }
                        }
                    }
            }


            // bottom
            .tws__final{
                width: $mini_cart_container;
                background-color: $color__bg_secondary;


                // Coupon
                #tws__has_coupon_code{
                    background-color: $color__bg_gray;
                    &:hover{
                        background: $color__secondary;
                    }

                    svg{
                        width: 12px;
                        display: inline;
                    }
                }

                input#tws__coupon_input{
                    background: $color__bg_gray;
                    color: $color__optional;
                }

                button#tws__coupon_submit{
                    background: $color__secondary;
                }

                button#tws__coupon_wrap_close{
                    background: $color__bg_btn_secondary;
                    color: $color__txt_btn_primary;

                    &:hover{
                        background: $color__bg_btn_primary;
                    }
                }

                #tws__coupon_list_ul{
                    li{
                        button{
                            background-color: $color__bg_optional;
                            color: $color__txt_optional;
                        }
                    }
                }


                    // checkout btn and amount
                    .tws__mini_cart_checkout_wrap{
                        
                        a{
                            background-color: $color__bg_btn_secondary;
                            color: $color__txt_btn_primary;

                            &:hover{
                                background-color: $color__secondary;
                                color: $color__txt_primary;
                            }
                        }

                        .tws__mini_cart_total_amount{
                            background-color: $color__bg_btn_primary;
                            color: $color__txt_btn_primary;
                        }
                    }

                
                

            }
        }
    }





}