.tws__mini_cart{

    $mini_cart_container: $pxrem * 320;
    
    width: $mini_cart_container;
    height: calc(100% - #{$pxrem * 55});
    // z-index: 10;
    padding-bottom: $pxrem*35;
    background-color: $color__bg_primary;


    // mini cart parent wrapper
    div.widget_shopping_cart{
        
        // mini cart wrapper
        div.widget_shopping_cart_content{
            
            // mini cart product content
            ul.product_list_widget{
                
                li.woocommerce-mini-cart-item{
                    // li
                    // display: flex;
                    // justify-content: space-between;
                    // align-items: center;
                    // padding: $pxrem*5 $pxrem*20;

                    
                    
                    div.tws__mini_cart_update{
                        // display: grid;
                        // justify-items: center;
                    }
                    
                    // wrapper
                    div.tws__mini_cart_img_wrapper{
                        max-height: $pxrem * 50;
                        overflow: hidden;
        
                        a{
        
                            img{
                                width: auto;
                                height: $pxrem * 45;
                                // margin-right: $pxrem*10;
                                // display: block;
                            }
                
                            // display: flex;
                            // align-items: center;
                        }
                    }

                    
                }
            }


            // bottom button
            .tws__final{
                // position: fixed;
                // bottom: 0;
                // width: 100%;
                width: $mini_cart_container;
                background-color: $color__bg_secondary;


                // Coupon
                #tws__has_coupon_code{
                    background-color: $color__bg_gray;
                    border-color: $color__bg_gray_border;

                    svg{
                        width: 12px;
                        display: inline;
                    }
                }

                #tws__coupon_list_ul{
                    li{
                        button{
                            background-color: $color__bg_optional;
                            color: $color__txt_optional;
                        }
                    }
                }



                .tws__mini_cart_calculation{
                    // cart button while calculate
                    background-color: $color__secondary;
                    
                    a{
                        // padding: 0 $pxrem*5;
                    }

                    // checkout btn and amount
                    .tws__mini_cart_checkout_wrap{
                        
                        a{

                        }
                    }

                }
                

            }
        }
    }





}