nav.woocommerce-pagination{
    ul{
        display: flex;
        flex-direction: row;

        li{

            a{
                border: .0625rem solid;
                padding: .1875rem .3125rem;
                margin: 0 .1875rem;
            }
        }
    }
}