#tws__page_with_aside{
    padding-top: 55px;
    margin-left: 220px;

    aside{

        width: $aside_width;
        padding-bottom: 2.25rem;
        height: calc(100% - 55px);
        background-color: $color__bg_secondary;

        /* width */
        &::-webkit-scrollbar {
            width: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #000; 
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: green; 
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: blue; 
        }

        // aside primary nav
        nav#site-navigation{

            font-size: $aside_nav_font_size;


            ul#primary_menu{
                li{

                    a{
                        color: $color__txt_secondary;
                    }

                    // sub menu-1
                    ul{
                        padding-left: .5rem;
                        display: none;

                    }

                    &:hover{
                        ul{
                            // display: block;
                        }
                        
                    }
                }
            }
        }

        // Quick access nav
        .tws__quick_access_menu{
            max-width: calc(#{$aside_width} - 4px);
            max-height: 2rem;
            overflow: hidden;

            // Quick Menu
            ul#quick-access-menu{
                display: flex;
    
                li{
                    border-right: .15rem solid $color__txt_primary;
                    padding-right: 10px;
                    padding-left: 10px;
    
                    &:first-child{
                        padding-left: inherit;
                    }
    
                    &:last-child{
                        border-right: inherit;
                        padding-right: inherit;
                    }
    
                    a{
                        display: flex;
                        align-items: center;
                        // font-size: ;
                        color: $color__txt_primary;
                        
    
                        svg{
                            fill: $color__txt_primary;
                        }
                    
                    }
                }
            }
        }
        
    }

    // Main Section
    main{
        
    }

}


