.tws__products_ul{
    
    li{
        max-height: $pxrem * 450;
        margin-top: $pxrem * 25;
        margin-bottom: $pxrem * 25;

        .tws__product_wrapper{

            span.onsale{
                position: absolute;
                top: 0;
                right: 0;
            }

            .tws__product_img_wrap{
                width: $pxrem * 200;
                height: $pxrem * 200;
                overflow: hidden;
                border: 1px solid;

                img{
                    max-width: $pxrem * 190;
                    max-height: $pxrem * 190;
                }

            }
        }
    }
}
