.tws__products_ul{


    // hide view cart button after click add to cart button or increment
    .added_to_cart.wc-forward{display:none !important;}


    
    li{
        max-height: $pxrem * 450;
        margin-top: $pxrem * 25;
        margin-bottom: $pxrem * 25;

        .tws__product_wrapper{

            span.onsale{
                position: absolute;
                top: 0;
                right: 0;
            }

            .tws__product_img_wrap{
                width: $pxrem * 200;
                height: $pxrem * 200;
                overflow: hidden;
                border: 1px solid;
                cursor: pointer;

                .tws__add_to_cart_hover_wrapper{
                    display: none;

                }

                &:hover .tws__add_to_cart_hover_wrapper{
                    display: inherit;
                }

                a.tws__product_hover_add_to_cart{
                    // color: transparent;
                    display: none;
                    background-color: $color__bg_hover_overlay;
                }

                &:hover a.tws__product_hover_add_to_cart{
                    display: grid;
                }

                img{
                    max-width: $pxrem * 190;
                    max-height: $pxrem * 190;
                }

                
                .tws__add_cart{
                    transition: .3s;
                    // display: none;
                }

                &:hover{
                    .tws__add_cart{
                        // display: inline-block;
                    }
                }
            }
        }
    }
}
