.tws__products_ul{


    // hide view cart button after click add to cart button or increment
    .added_to_cart.wc-forward{display:none !important;}


    
    li{
        max-height: $pxrem * 450;
        margin-top: $pxrem * 25;
        margin-bottom: $pxrem * 25;

        // Wrapper of products container
        .tws__product_wrapper{

            min-height: $pxrem*280;
            

            // Under product thumbnail wrapper - hover over product
            &:hover{

                .tws__add_to_cart_hover_wrapper{
                    display: inherit;
                    display: flex;
                }

                .tws__product_loop_details_btn,
                .tws__product_loop_hover_amount{
                    display: inherit;
                }
                
                a.tws__product_hover_add_to_cart{
                    display: grid;
                }
            

            } // &:hover
            

            span.onsale{
                position: absolute;
                top: 0;
                right: 0;
            }

            a.tws__product_hover_add_to_cart{
                // color: transparent;
                display: none;
            }

            .tws__add_to_cart_hover_wrapper, .tws__product_loop_details_btn, .tws__product_loop_hover_amount{
                display: none;
            }
            
            .tws__product_loop_details_btn{
                background-color: $color__primary;
            }

            .tws__add_to_cart_hover_wrapper{

                // Decrement btn under img wrap of product thumbails
                button{
                    padding: $pxrem*8 $pxrem*16;
                    border-radius: 50%;
                    width: $pxrem*36;
                    height: $pxrem*38;

                    &:hover{
                        color: $color__secondary;
                        border-color: $color__secondary;
                    }
                }

                // Qty txt
                span{
                    // font-size: $pxrem*18;
                    color: $color__secondary;
                }

                // Increment or Add to Cart btn under img wrap of product thumbails
                a{
                    padding: $pxrem*10 $pxrem*13;
                    border-radius: 50%;
                    width: $pxrem*36;
                    height: $pxrem*38;

                    &:hover{
                        color: $color__secondary;
                        border-color: $color__secondary;
                    }
                }
            }
            
            a.tws__product_hover_add_to_cart{
                background-color: $color__bg_hover_overlay;
            }
            


            // Thumbnail wrapper
            .tws__product_img_wrap{
                width: $pxrem * 200;
                height: $pxrem * 200;
                overflow: hidden;
                border: 1px solid;
                cursor: pointer;

                // Thumbnail
                img{
                    max-width: $pxrem * 190;
                    max-height: $pxrem * 190;
                }
            }
        }


        // wrapper - Add to cart and added or increment/decrement btn
        .tws__add_to_cart_wrapper{
            
            span{

                // Add to cart/Read More (variable products) button
                a.button{
                    display: block;
                    padding: $pxrem*8 $pxrem*16;
                }
            }

            .tws__cart_added{
                // background-color: $color__primary;

            }
        }
    }
}
