aside#aside{

    // width: $aside_width;
    padding-bottom: 2.25rem;
    padding-left: $pxrem*12;
    padding-right: $pxrem*8;

    height: calc(100% - #{$pxrem * 55});
    background-color: var(--color__light);
    flex-direction: column;
    
    // aside primary nav
    nav#primary_menu{

        font-size: $aside_nav_font_size;


        ul{
            li{
                padding-left: $pxrem*8;
                
                a{
                    color: var(--color__txt_secondary);
                }

                // sub menu-1
                ul{
                    padding-left: $pxrem * 8;
                    display: none;

                }

                &:hover{
                    ul{
                        // display: block;
                    }
                    
                }
            }
        }
    }

    // Quick access nav
    .tws__quick_access_menu{
        // width: 100%;
        // max-width: calc(#{$aside_width} - #{$pxrem * 4});
        // max-height: $pxrem * 32;
        background: var(--color__secondary);
        padding: $pxrem*6 $pxrem*10;
        font-size: $pxrem*16;
        font-weight: bold;


        // Quick Menu
        ul#quick-access-menu{
            // display: flex;

            li{
                border-right: $pxrem*3 solid var(--color__dark);
                padding-right: $pxrem*10;
                padding-left: $pxrem*10;

                &:first-child{
                    padding-left: inherit;
                }

                &:last-child{
                    border-right: inherit;
                    padding-right: inherit;
                }

                a{
                    display: flex;
                    align-items: center;
                    color: var(--color__dark);
                    

                    svg{
                        fill: var(--color__dark);
                    }
                
                }
            }
        }
    }
    
}