html{
    overflow-x: hidden;
}

body{
    font-size: $size__txt_body;
}

// aside{
//     transition: .3s;
// }

// main{
//     transition: .5s;
// }

/* Global Buttons */
.tws__btn_padding{
    padding: $pxrem*8 $pxrem*12;
}

.tws__btn_dark{
    background-color: var(--color__bg_dark);
    color: var(--color__txt_dark);
}

.tws__btn_dark_hover{
    &:hover{
        background-color: var(--color__secondary);
        color: var(--color__txt_secondary);
    }
}

.tws__btn_gray{
    background-color: var(--color__bg_gray);
    color: var(--color__txt_gray);
}

.tws__btn_gray_hover{
    &:hover{
        background-color: var(--color__secondary);
        color: var(--color__txt_secondary);
    }
}


.tws__btn_secondary{
    background-color: var(--color__secondary);
    color: var(--color__txt_secondary);
}

.tws__btn_secondary_hover{
    &:hover{
        background-color: var(--color__bg_dark);
        color: var(--color__txt_dark);
    }
}



.tws__text_xxs{
    font-size: $text__xxs;
}


// Custom Scrollbar
::-webkit-scrollbar {
    width: $pxrem * 4;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color__border_gray); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color__secondary); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color__secondary); 
}