.tws__add_cat_wrap{

    a.button,
    a.added_to_cart{
        // display: block;
        border: $pxrem*1 solid var(--color__optional);
        padding: $pxrem*4 $pxrem*8;

    }

    a.added_to_cart{
       position: absolute;
       bottom: -$pxrem*40;
    }
}