@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


// library
@import "./lib/odometer";

// Abrstract
@import "./abstract/variables";
@import "./abstract/colors";
@import "./abstract/fonts";
@import "./abstract/mixins";


// Global of conent
@import "./components/global";
@import "./components/header";
@import "./components/aside";
@import "./components/footer";




#tws__page_with_aside{
    padding-top: $pxrem * 55;
    padding-bottom: $pxrem * 55;

    main{
        padding: $pxrem*20 $pxrem*20;

        .columns-4{
            all: unset !important;
        }
    }
}