// Abrstract
@import "./abstract/variables";
@import "./abstract/colors";
@import "./abstract/fonts";
@import "./abstract/mixins";

// this cart checkout global
.transition{
    @include transition(0.3s);
}


/* cart page */
table#tws__cart_table{
    width: 100%;

    // table head
    thead{
        background-color: var(--color__lightgray);
        border: $pxrem*1 solid var(--color__border_gray);
        color: var(--color__txt_gray);

        tr{
            text-align: center;
            th{
                padding: $pxrem*12 $pxrem*0;
            }
        }
    }

    tbody#cart_t_body{

        tr{
            text-align: center;
            border: $pxrem*1 solid var(--color__border_gray);

            // product thumnail images
            td.product-thumbnail{
                padding: $pxrem*24 $pxrem*0;
                display: flex;
                justify-content: center;
            }

            // product quantity
            td.product-quantity{
                
                // qty wrapper
                .quantity{
                    display: inline;
                    
                    input{
                        outline: none;
                        width: $pxrem*80;
                        height: $pxrem*40;
                        border: $pxrem*1 solid var(--color__border_gray);
                        text-align: center;
                        font-weight: bold;
                        font-size: $pxrem*18;
                    }
                }

                // inc and dec btn
                button{
                    font-size: $pxrem*18;
                    padding: $pxrem*6 $pxrem*24;
                }
            }

            // remove product
            td.product-remove{
                a{
                    // padding: $pxrem*8 $pxrem*12;
                    
                }
            }
            
            // cart update
            td.actions{
                text-align: right;
                padding-right: $pxrem*20;
                padding-top: $pxrem*30;
                padding-bottom: $pxrem*30;

                button{
                    font-weight: 500;
                    font-size: $pxrem*16;
                }
            }
        }


        tr.tws__cart_final{

            // coupon
            td.tws__coupon_wrap{
                vertical-align: top;
                padding-right: $pxrem*20;
                
                h2.coupon_heading{
                    text-align: left;
                    background: var(--color__lightgray);
                    padding: $pxrem*12 $pxrem*20;
                    font-weight: bold;
                    font-size: $pxrem*20;
                }
                
                .coupon{
                    padding: $pxrem*30 $pxrem*20;

                    input[name="coupon_code"]{
                        width: 100%;
                        outline: none;
                        border: $pxrem*0.5 solid var(--color__border_gray);
                        padding: $pxrem*8 $pxrem*10;
                    }

                    button[name="apply_coupon"]{
                        margin-top: $pxrem*20;
                    }
                }
            }
            // Final Calculations of Cart
            td.calculate{
                vertical-align: top;

                .cart-collaterals{
                    .cart_totals {
                        h2{
                            text-align: left;
                            background: var(--color__lightgray);
                            padding: $pxrem*12 $pxrem*20;
                            font-weight: bold;
                            font-size: $pxrem*20;
                        }

                        // calculation table
                        table.shop_table {
                            width: 100%;
                            margin: $pxrem*20 $pxrem*0;

                            tbody{
                                tr{
                                    th,td{
                                        text-align: left;
                                        padding: $pxrem*8 $pxrem*6 $pxrem*8 $pxrem*8;
                                    }

                                    th{
                                        width: 20%;
                                    }

                                    td{
                                        a.shipping-calculator-button{
                                            color: var(--color__optional);
                                        }
                                    }
                                }

                                tr.order-total{
                                    background: var(--color__lightgray);

                                    th{
                                        font-size: $pxrem*18;
                                        color: var(--color__primary);
                                    }

                                    td{
                                        span.amount{
                                            font-size: $pxrem*18;
                                            color: var(--color__primary);
                                        }
                                    }
                                }
                            }
                        }

                        // Checkout btn
                        .wc-proceed-to-checkout{

                            padding: $pxrem*40 $pxrem*0;

                            a.checkout-button{
                                background: var(--color__secondary);
                                color: var(--color__txt_secondary);
                                font-weight: 600;
                                font-size: $pxrem*20;
                                padding: $pxrem*10 $pxrem*16;
                                @include transition(0.3s);

                                &:hover{
                                    background: var(--color__bg_dark);
                                    color: var(--color__txt_dark);
                                }
                            }
                        }
                    }
                }
            }
            
        }

        tr.tws__update_cart,
        tr.tws__cart_final{
            border: none;
        }
    }
}


/* checkout page */
form#checkout{
    

    // Required Notices - checkout page
    .woocommerce-NoticeGroup-checkout{

        background-color: var(--color__lightgray);
        margin: $pxrem*40 $pxrem*0;
        padding: $pxrem*20 $pxrem*10 $pxrem*20 $pxrem*30;
        border-top: $pxrem*6 solid var(--color__border_secondary);


        ul.woocommerce-error{
            li{
                color: var(--color__txt_gray);
                margin-bottom: $pxrem*15;
            }
        }
    }

    // left side
    .billing_shipping{

        padding-right: $pxrem*30;

        // billing address
        .billing{

            // billing fields
            .woocommerce-billing-fields{

                h3{
                    padding: $pxrem*10 $pxrem*10;
                    font-size: $pxrem*20;
                    font-weight: bold;
                    background-color: var(--color__lightgray);
                    border: $pxrem*1 solid var(--color__border_gray);
                    color: var(--color__txt_gray);
                }

                .woocommerce-billing-fields__field-wrapper{
                    border: $pxrem*0.5 solid var(--color__border_gray);
                    padding-top: $pxrem*30;
                    padding-bottom: $pxrem*30;
                    

                    // all fields
                    p.form-row{
                        padding: $pxrem*10 $pxrem*16;

                        label{
                            font-weight: 500;
                        }

                        input{
                            outline: none;
                            border: $pxrem*1 solid var(--color__border_gray);
                            height: $pxrem*40;
                            margin-top: $pxrem*10;
                            padding: $pxrem*5 $pxrem*8;
                        }
                    }

                    // required fields star (*) sign
                    p{
                        abbr.required{
                            color: var(--color__optional_light);
                        }
                    }

                    // when missing any required fields then show error message / warning / notice
                    p.woocommerce-invalid-required-field{
                        label{
                            color: var(--color__optional_light);
                        }

                        input{
                            border: $pxrem*1 solid var(--color__border_secondary);
                        }
                    }

                    // first | last - name
                    p#billing_first_name_field,
                    p#billing_last_name_field{

                        float: left;
                        width: 50%;
                        
                        label{

                        }

                        input{
                            outline: none;
                            width: 100%;
                        }
                    }

                    // Compay Field| Street address | Billing city
                    p#billing_company_field,
                    p#billing_address_1_field,
                    p#billing_address_2_field,
                    p#billing_city_field,
                    p#billing_postcode_field,
                    p#billing_phone_field,
                    p#billing_email_field{
                        
                        label{
                            display: block;
                        }
                    
                        input{
                            width: 100%;
                        }
                    }

                    // country | state - field
                    p#billing_country_field,
                    p#billing_state_field{
                        padding-right: $pxrem*20;

                        label{
                            display: block;
                            padding-bottom: $pxrem*6;
                        }
                    }
                }
            }

            // Create an account - account fields
            .woocommerce-account-fields{

                margin: $pxrem*40 $pxrem*0;

                p{
                    padding: $pxrem*10 $pxrem*10;
                    font-size: $pxrem*20;
                    font-weight: bold;
                    background-color: var(--color__lightgray);
                    border: $pxrem*1 solid var(--color__border_gray);
                    color: var(--color__txt_gray);
                }
            }
        }



        // shipping address | another shipping address
        .shipping{

            // another shipping address
            .woocommerce-shipping-fields{

                // ship to a different address
                h3{
                    padding: $pxrem*10 $pxrem*10;
                    font-size: $pxrem*20;
                    font-weight: bold;
                    background-color: var(--color__lightgray);
                    border: $pxrem*1 solid var(--color__border_gray);
                    color: var(--color__txt_gray);
                }

                .shipping_address{

                    border: $pxrem*0.5 solid var(--color__border_gray);
                    
                    .woocommerce-shipping-fields__field-wrapper{
                        padding-top: $pxrem*30;
                        padding-bottom: $pxrem*30;


                    // all fields
                    p.form-row{
                        padding: $pxrem*10 $pxrem*16;

                        label{
                            font-weight: 500;
                        }

                        input{
                            outline: none;
                            border: $pxrem*1 solid var(--color__border_gray);
                            height: $pxrem*40;
                            margin-top: $pxrem*10;
                            padding: $pxrem*5 $pxrem*8;
                        }
                    }

                    // required fields star (*) sign
                    p{
                        abbr.required{
                            color: var(--color__optional_light);
                        }
                    }

                    // when missing any required fields then show error message / warning / notice
                    p.woocommerce-invalid-required-field{
                        label{
                            color: var(--color__optional_light);
                        }

                        input{
                            border: $pxrem*1 solid var(--color__border_secondary);
                        }
                    }

                    // first | last - name
                    p#shipping_first_name_field,
                    p#shipping_last_name_field{

                        float: left;
                        width: 50%;
                        
                        label{

                        }

                        input{
                            outline: none;
                            width: 100%;
                        }
                    }

                    // Compay Field| Street address | Billing city
                    p#shipping_company_field,
                    p#shipping_address_1_field,
                    p#shipping_address_2_field,
                    p#shipping_city_field,
                    p#shipping_postcode_field{
                        
                        label{
                            display: block;
                        }
                    
                        input{
                            width: 100%;
                        }
                    }

                    // country | state - field
                    p#shipping_country_field,
                    p#shipping_state_field{
                        padding-right: $pxrem*20;

                        label{
                            display: block;
                            padding-bottom: $pxrem*6;
                        }
                    }
                    }
                }
            }

            // notes | woocommerce additional fields
            .woocommerce-additional-fields{

                padding-top: $pxrem*50;

                .woocommerce-additional-fields__field-wrapper{
                    p#order_comments_field{
                        label{
                            display: block;
                        }
                        textarea{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }


    // right side
    h3#order_review_heading{
        padding: $pxrem*10 $pxrem*10;
        font-size: $pxrem*20;
        font-weight: bold;
        background-color: var(--color__lightgray);
        border: $pxrem*1 solid var(--color__border_gray);
        color: var(--color__txt_gray);
    }

    #order_review{
        padding: $pxrem*20 $pxrem*10;

        table.woocommerce-checkout-review-order-table{
            width: 100%;
            text-align: left;
            
            td,th{
                vertical-align: top;
            }
            
            thead{
                background-color: var(--color__lightgray);
                
                tr{
                    th{
                        padding: $pxrem*10 $pxrem*10;
                        color: var(--color__txt_gray);
                    }
                    
                }
            }
            
            tbody{
                tr{
                    border-bottom: $pxrem*.5 solid var(--color__border_gray);

                    td,th{
                        padding: $pxrem*10 $pxrem*10;
                        color: var(--color__txt_gray);
                    }
                }
                tr:last-child{
                    td{
                        padding-bottom: $pxrem*30;
                    }
                }
            }

            tfoot{
                border: $pxrem*0.5 solid var(--color__border_gray);
                
                tr{
                    th,td{
                        padding: $pxrem*5 $pxrem*10;
                    }
                }

                tr.cart-subtotal{
                    td{
                        color: var(--color__primary);
                    }
                }

                tr.shipping{
                    td{
                        color: var(--color__optional);

                    }
                }

                // total
                tr.order-total{
                    border-top: $pxrem*.5 solid var(--color__border_gray);
                    background-color: var(--color__lightgray);
                    color: var(--color__txt_gray);

                    th,td{
                        font-size: $pxrem*18;
                    }
                    td{
                        span.woocommerce-Price-amount{
                            color: var(--color__primary);

                        }
                    }
                }
            }
        }


        // after calculing in checkout
        #payment{
            padding: $pxrem*20 $pxrem*10;

            .methods{

            }

            .place-order{
                padding-top: $pxrem*20;
                color: var(--color__txt_gray);

                .woocommerce-terms-and-conditions-wrapper{
                    // privacy policy text
                    .woocommerce-privay--policy-text{
                        p{
                            color: var(--color__txt_gray);
                        }
                    }

                    // required fields for accepting conditions
                    p.validate-required{
                        padding: $pxrem*10 $pxrem*10;
                        font-weight: bold;
                        background-color: var(--color__lightgray);
                        border: $pxrem*1 solid var(--color__border_gray);
                        color: var(--color__txt_gray);
                        margin-top: $pxrem*20;

                        label{
                            input[type="checkbox"]{
                                margin-right: $pxrem*5;
                            }

                            span{
                                color: var(--color__txt_gray);

                                a{
                                    color: var(--color__optional);
                                }
                            }
                        }
                    }
                }


                // btn place order
                button{
                    // padding: $pxrem*40 $pxrem*0;

                    display: block;
                    margin: $pxrem*20 auto;
                    background: var(--color__secondary);
                    color: var(--color__txt_secondary);
                    font-weight: 600;
                    font-size: $pxrem*20;
                    width: 80%;
                    padding: $pxrem*10 $pxrem*0;
                    @include transition(0.3s);

                    &:hover{
                        background: var(--color__bg_dark);
                        color: var(--color__txt_dark);
                    }

                } // btn place order
            }
        }
    }



    
}