@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Abrstract
@import "./abstract/variables";
@import "./abstract/colors";
@import "./abstract/fonts";
@import "./abstract/mixins";

// Global of conent
@import "./abstract/global";

@import "./components/header";
@import "./components/aside";
@import "./components/footer";

// Components
// @import "components/pagination";
// @import "components/products";


#tws__page_with_aside{
    padding-top: 55px;
    padding-bottom: 55px;

    main{
        padding: 1.25rem 1.25rem;
    }
}