// Abrstract
@import "./abstract/variables";
@import "./abstract/colors";
@import "./abstract/fonts";
@import "./abstract/mixins";

// Start
.tws__single_product{



    // .woocommerce-product-gallery,
    // .flex-viewport,
    // figure.woocommerce-product-gallery__wrapper,
    // .woocommerce-product-gallery__image{
    //     height: 100%;
    // }


    // Left Column - 4
    .woocommerce-product-gallery{

        // Zoom btn trigger
        .woocommerce-product-gallery__trigger{
            position: absolute;
            top: 3;
            left: 3;
            z-index: 10;
        }

        figure.woocommerce-product-gallery__wrapper{

            .woocommerce-product-gallery__image{


                a{

                    // height: 100%;
                    // display: grid;
                    // justify-content: center;
                    // align-items: center;

                    img{
                        margin: 0 auto;
                    }
                }
            }
        }
    
    }

    // Right Column - 6
    .summary{

        // product title
        h1.product_title{
            font-size: $pxrem*20;
            font-weight: bolder;
        }

        // price
        p.price{
            font-size: $pxrem*18;
            font-weight: bolder;
            color: var(--color__txt_red);
        }

        // stock
        p.stock{
            color: var(--color_bg_gray);
        }

        // Qty and Add Cart
        form.cart{

            // quantity
            .quantity{


                
                // input qty
                // hide the input default inc/dec under this input field
                // input[type="number"]::-webkit-inner-spin-button,
                // input[type="number"]::-webkit-outer-spin-button {
                //     -webkit-appearance: none;
                //     margin: 0;
                // }
                // input[type="number"] {
                //     -moz-appearance: textfield;  // Firefox
                // }

                input[name=quantity] {
                    width: $pxrem*60;
                    height: $pxrem*38;
                    outline: none;
                    text-align: center;
                    font-size: $pxrem*24;
                    font-weight: bolder;
                }

                button#qty_inc,
                button#qty_dec{
                    width: $pxrem*45;
                    height: $pxrem*38;
                    padding-bottom: $pxrem*3;
                    font-size: $pxrem*24;
                    font-weight: bolder;
                    background: var(--color__primary);
                    color: var(--color__txt_btn_primary);
                }
                button#qty_dec{
                    // padding-bottom: $;
                }
            
    
            }

            // submit - add product to cart
            // button[type="submit"]{
                // background: var();
                // color: var(--color__txt_optional);

            // }
        }
    } // summary
}


