// Abrstract
@import "./abstract/variables";
@import "./abstract/colors";
@import "./abstract/fonts";
@import "./abstract/mixins";

// Start
.tws__single_product{



    // .woocommerce-product-gallery,
    // .flex-viewport,
    // figure.woocommerce-product-gallery__wrapper,
    // .woocommerce-product-gallery__image{
    //     height: 100%;
    // }


    // Left Column - 4
    .woocommerce-product-gallery{

        // Zoom btn trigger
        .woocommerce-product-gallery__trigger{
            position: absolute;
            top: 3;
            left: 3;
            z-index: 10;
        }

        figure.woocommerce-product-gallery__wrapper{

            .woocommerce-product-gallery__image{


                a{

                    // height: 100%;
                    // display: grid;
                    // justify-content: center;
                    // align-items: center;

                    img{
                        margin: 0 auto;
                    }
                }
            }
        }
    
    }

    // Right Column - 6
    .summary{

        // product title
        h1.product_title{
            font-size: $pxrem*20;
            font-weight: bolder;
        }

        // price
        p.price{
            font-size: $pxrem*18;
            font-weight: bolder;
            color: var(--color__txt_red);
        }

        // stock
        p.stock{
            color: var(--color_bg_gray);
        }

        // Qty and Add Cart
        form.cart{

            // quantity
            .quantity{


                
                // input qty
                
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                
                input[type="number"] {
                    -moz-appearance: textfield;  // Firefox
                }
                input[type=number] {

                }
            
    
            }
        }
    } // summary
}


