// CROSS BROWSER COMPITIBLE
@mixin cross($mycross_var, $mycross_value){
    #{$mycross_var}: $mycross_value;
    -webkit-#{$mycross_var}: $mycross_value;
    -moz-#{$mycross_var}: $mycross_value;
    -ms-#{$mycross_var}: $mycross_value;
    -o-#{$mycross_var}: $mycross_value;
}

// default transition @inlcude transition(0.3s);
@mixin transition($transition){
    @include cross(transition, all $transition ease);
}

// verticale text rotate example: @include tws__vertical_txt(180deg);
@mixin tws__vertical_txt($v_deg){
    writing-mode: vertical-lr; /* This sets the writing mode to vertical, from left to right */
    transform: rotate($v_deg); /* Rotate the text 90 degrees clockwise */
    white-space: nowrap; /* Prevent text from wrapping */
}

// Heading
@mixin heading{
    padding: $pxrem*10 $pxrem*10;
    font-size: $pxrem*20;
    font-weight: bold;
}

// btn mobile default padding
@mixin btn_mobile_padding{
    padding: $pxrem*6 $pxrem*10;
}
// btn desktop default padding
@mixin btn_desktop_padding{
    padding: $pxrem*8 $pxrem*12;
}


/* 
    Color sets */
@mixin color_set_primary{
    background-color: var(--color__bg_primary);
    color: var(--color__txt_primary);
}

@mixin color_set_secondary{
    background-color: var(--color__bg_secondary);
    color: var(--color__txt_secondary);
}

@mixin color_set_optional{
    background-color: var(--color__bg_optional);
    color: var(--color__txt_optional);
}

@mixin color_set_optional_light{
    background-color: var(--color__bg_optional_light);
    color: var(--color__txt_optional_light);
}

@mixin color_set_darklight{
    background-color: var(--color__bg_darklight);
    color: var(--color__txt_darklight);
}

@mixin color_set_gray{
    background-color: var(--color__bg_gray); // light gray 
    color: var(--color__txt_gray); // dark gray
    border: $pxrem*1 solid var(--color__border_gray);
}